{% load static %}

{% block content %}

<footer class="m_footer">
    <div class="m_container-fluid">
        <div class="m_row">
            <div class="m_col-sm-6">
                 © {{ config(&#39;<a href="https://www.google.com/url?q=http://app.name&amp;source=gmail-html&amp;ust=1716699494840000&amp;usg=AOvVaw2dw3H0hX3xKx7D_apu79yh" target="_blank" rel="noreferrer">app.name</a>&#39;) }}.
            </div>
            <div class="m_col-sm-6">
                <div class="m_text-sm-right m_d-none m_d-sm-block">
                    <a href="https://www.google.com/url?q=https://xirainfotech.com/&amp;source=gmail-html&amp;ust=1716699494840000&amp;usg=AOvVaw3_8WUUsdK6SpnmZBdFiusA" target="_blank" rel="noreferrer">
                        Design &amp; Develop by Xirainfotech
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<a class="m_modal-effect m_btn m_btn-outline-primary m_btn-block" style="display:none" id="m_CustomId" href="#m__crud-modal" rel="noreferrer">Fall</a>
<div class="m_modal m_fade m_bs-example-modal-xl" id="m_crud-modal" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true"></div>


<div class="m_rightbar-overlay"></div>



{% endblock %}
