{% load static%}

{% block content%}
    <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ static('images') }}/{{$user = Helper::get_data('users')->first()->favicon}}">
    <title>Admin</title>
    
    <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    <link href="{% static 'libs/dropzone/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/jquery.toast.min.css' %}" rel="stylesheet" type="text/css" />
    </head>
{% endblock %}