{% load static %}

{% block content%}
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'js/pages/dashboard.init.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'libs/dropzone/min/dropzone.min.js' %}"></script>
<script src="{% static 'js/jquery.toast.min.js' %}"></script>
<script src="{% static 'js/toastr.init.js' %}"></script>
<script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/pages/form-advanced.init.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
