{% load static %}

{% block content%}

<div class="m_vertical-menu">

    <div class="m_h-100">

        <div id="m_sidebar-menu">
            <ul class="m_metismenu m_list-unstyled" id="m_side-menu">
                <li class="m_menu-title">Menu</li>

                <li>
                    <a class="m_waves-effect" rel="noreferrer">
                        <i class="m_bx m_bx-home-circle"></i>
                        <span>Dashboards</span>
                    </a>
                </li>

                <li>
                    <a class="m_has-arrow m_waves-effect" rel="noreferrer">
                        <i class="m_bx m_bx-layout"></i>
                        <span>Master</span>
                    </a>
                    <ul class="m_sub-menu" aria-expanded="false">
                        <li><a rel="noreferrer">Basic Updation</a></li>
                        <li><a rel="noreferrer">meta</a></li>
                    </ul>
                </li>
                <li>
                    <a class="m_has-arrow m_waves-effect" rel="noreferrer">
                        <i class="m_bx m_bx-layout"></i>
                        <span>Blogs</span>
                    </a>
                    <ul class="m_sub-menu" aria-expanded="false">
                        <li><a rel="noreferrer">Blog List</a></li>
                    </ul>
                </li>
                 <li>
                    <a class="m_has-arrow m_waves-effect" rel="noreferrer">
                        <i class="m_bx m_bx-layout"></i>
                        <span>Enquiries</span>
                    </a>
                    <ul class="m_sub-menu" aria-expanded="false">
                        <li><a rel="noreferrer">Contact us List</a></li>
                    </ul>
                </li> 
                <li>
                    <a class="m_has-arrow m_waves-effect" rel="noreferrer">
                        <i class="m_bx m_bx-layout"></i>
                        <span>Products</span>
                    </a>
                    <ul class="m_sub-menu" aria-expanded="false">
                        <li><a rel="noreferrer">Category</a></li>
                        <li><a rel="noreferrer">Sub Category</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
